@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET MVC Essentials Homework</h2>
    <p>
        <ol class="lead">
            <li>Write down in a text file all the major similarities and differences you can find between ASP.NET Web Forms and ASP.NET MVC</li>
            <li>Using ASP.NET MVC write the same web calculator as: <a href="http://www.gwebtools.com/bit-calculator">Calculator</a></li>
            <li>Create a simple informational ASP.NET MVC application by your choice with at least 3 controllers, 1 area, 1 custom route, 5 views (at least 1 partial view and 1 section). Using data is not required.</li>
            <li>* Create a custom route constraint that allows requests only if the controller name starts with the string "Admin"</li>
        </ol>
    </p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Bit Calculator</h1>
    <p>Make conversions between bits, bytes, kilobits, kilobytes, megabits, megabytes, gigabits, gigabytes, terabits, terabytes, petabits, petabytes, exabits, exabytes, zettabits, zettabytes, yottabits, yottabytes</p>
    <p>@Html.ActionLink("Bit Calculator", "Index", "Calculator", new { area = "Calculator" }, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>