@{
    ViewBag.Title = "Bit Calculator";
}
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4 media">     
        <div class="media-left media-middle">
            <img class="media-object" src="@Url.Content("~/Content/Images/calc-logo.png")" alt="Calculator logo">
        </div>
        <div class="media-body">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>      
</div>
