@model Movies.Web.ViewModels.Home.PagableListMovieViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Title, Page: @Model.CurrentPage</h1>
<div>
    @Ajax.ActionLink("Create Movie", "Create", "Movies", null, new AjaxOptions
{
    UpdateTargetId = "create",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
}, new { @class = "btn btn-primary" })
</div>

<div id="create"></div>

@foreach(var movie in Model.Movies)
{
    <h2>@movie.Title</h2>
}