@{
    ViewBag.Title = "Home Page";
}

<div>
    @Ajax.ActionLink("Create Movie", "Create", "Movies", null, new AjaxOptions
{
    UpdateTargetId = "create",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
}, new { @class = "btn btn-primary" })
</div>

<div id="create"></div>