@{
    ViewBag.Title = "Home Page";
}

@Ajax.ActionLink("Create Movie", "Create", "Movies", null, new AjaxOptions
{
    UpdateTargetId = "create",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.ReplaceWith,
})

<div id="create"></div>