@model Movies.Web.ViewModels.Movies.MovieDetailsViewModel

<div>
    <h5><strong>Actress: @Model.FemaleActorName</strong></h5>
    <h5><strong>Actor: @Model.MaleActorName</strong></h5>    
    <p>@Model.MovieDesciption</p>
</div>
